<%= form_with(model: report, local: true) do |form| %>
  <% if report.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(report.errors.count, "error") %> prohibited this report from being saved:</h2>

      <ul>
        <% report.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= current_user.name %>
  </div>

  <div class="field">
    <%= form.label :company %>
    <%= form.text_field :company %>
  </div>

  <div class="field">
    <%= form.label :institution %>
    <%= form.text_field :institution %>
  </div>

  <div class="field">
    <%= form.label :report_type %>
    <%= form.text_field :report_type %>
  </div>

  <div class="field">
    <%= form.label :report_date %>
    <%= form.date_select :report_date %>
  </div>

  <div class="field">
    <%= form.label :hours_per_day %>
    <%= form.number_field :hours_per_day %>
  </div>

  <div class="field">
    <%= form.label :month %>
    <%= form.text_field :month %>
  </div>

  <div class="field">
    <%= form.label :working_days %>
    <%= form.number_field :working_days %>
  </div>

  <div class="field">
    <%= form.label :activities %>
    <%= form.text_field :activities %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
