.card.mt-5

  %h2.card-title.mx-auto.mt-5 Relatórios

  .card-body
    %table.table
      %thead
        %tr
          %th Mês
          %th Empresa
          %th Instituição
          %th Total de Horas

          %th
          %th Ações
          %th

      %tbody
        - @reports.each do |report|
          %tr
            %td= report.month
            %td= report.company
            %td= report.educational_institution
            %td= report.total_hours

            %td= link_to 'Imprimir', print_report_path(report, format: "pdf")
            %td= link_to 'Visualizar', report
            %td= link_to 'Editar', edit_report_path(report)
            %td= link_to 'Excluir', report, method: :delete, data: { confirm: 'Vocë tem certeza?' }

