.card.mt-5

  %h2.card-title.mx-auto.mt-5 Relatórios

  .card-body
    %table.table
      %thead
        %tr
          - unless current_user.coordenador?
            %th Mês
            %th Empresa
            %th Instituição
            %th Total de Horas
            %th Status
            %th
            %th Ações
            %th
          - if current_user.coordenador?
            %th Aluno
            %th Mês
            %th Dias Trabalhados
            %th Horas Totais
            %th Status
            %th



      %tbody
        - @reports.each do |report|
          %tr
            - unless current_user.coordenador?
              %td= report.month
              %td= report.company
              %td= report.educational_institution
              %td= report.total_hours
            - if current_user.coordenador?
              %td= report.user_name
              %td= report.month
              %td= report.worked_days
              %td= report.total_hours
            %td
              - if report.professor_approved?
                %i.fas.fa-check-circle.fa-lg
              - elsif report.rejected?
                %i.fas.fa-times-circle.fa-lg
              - else
                %i.fas.fa-ellipsis-h.fa-lg

            %td
              - url = current_user.coordenador? ? verify_report_path(report) : report
              = link_to 'Visualizar', url
            - unless current_user.coordenador?
              %td
                = link_to 'Imprimir', print_report_path(report, format: "pdf"), target: "_blank"
              %td
                = link_to 'Excluir', report, method: :delete, data: { confirm: 'Vocë tem certeza?' }

