<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @report.user.name %>
</p>

<p>
  <strong>Company:</strong>
  <%= @report.company %>
</p>

<p>
  <strong>Institution:</strong>
  <%= @report.institution %>
</p>

<p>
  <strong>Type:</strong>
  <%= @report.report_type %>
</p>

<p>
  <strong>Report date:</strong>
  <%= @report.report_date %>
</p>

<p>
  <strong>Hours per day:</strong>
  <%= @report.hours_per_day %>
</p>

<p>
  <strong>Month:</strong>
  <%= @report.month %>
</p>

<p>
  <strong>Working days:</strong>
  <%= @report.working_days %>
</p>

<p>
  <strong>Activities:</strong>
  <%= @report.activities %>
</p>

<%= link_to 'Edit', edit_report_path(@report) %> |
<%= link_to 'Back', reports_path %>
