!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Relatório Estágio
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    %script{:src => "https://kit.fontawesome.com/6d90f39943.js"}
  %body.sidebar-mini
    .wrapper
      = render partial: "layouts/header"
      = render partial: "layouts/sidebar"
      .content-wrapper
        = yield
      = render partial: "layouts/footer"

    :javascript
      $(document).ready(function() {
          toastr.options = {
              "closeButton": false,
              "debug": false,
              "positionClass": "toast-top-right",
              "onclick": null,
              "showDuration": "300",
              "hideDuration": "1000",
              "timeOut": "5000",
              "extendedTimeOut": "1000",
              "showEasing": "swing",
              "hideEasing": "linear",
              "showMethod": "fadeIn",
              "hideMethod": "fadeOut"
          }
      });