!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Relatório Estágio
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    %script{:src => "https://kit.fontawesome.com/6d90f39943.js"}
  %body.sidebar-mini
    .wrapper
      = render partial: "layouts/header"
      = render partial: "layouts/sidebar"
      .content-wrapper
        %p.notice
          = notice
        %p.alert
          = alert
        = yield
      = render partial: "layouts/footer"

    -# - if flash[:notice]
    -#   :javascript
    -#     $(document).Toasts('create', {
    -#       title: ,
    -#       position: 'topLeft',
    -#       autohide: true,
    -#       delay: 2000,
    -#       class: 'toast',
    -#       fade: true,
    -#       fixed: true,
    -#       close: false,
    -#       icon: 'fas fa-exclamation-triangle'
    -#     })